{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center" >Proyecto3 APP</h1>
        <p>Proyecto final para Coderhose, la pagina tiene la funcionaliadad de agragar tareas, con una registracion
        de usuarios. </p> 

       <di class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin

            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup

            </a>

       </di>

    </section>



</main>


{% endblock %}


